"""{{ class_name }} model module.

{% if table_doc %}
{{ table_doc }}
{% endif %}
"""
from __future__ import annotations

{{ imports_block }}


class {{ class_name }}Model(Base):
    """{{ class_name }} database model."""

    __tablename__ = "{{ table_name }}"
{% if table_args_block %}
    {{ table_args_block }}
{% endif %}

{{ field_block }}
